.grid {
    font-family: Arial, Helvetica, sans-serif;
    height: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr 50px;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 200px;
    grid-gap: 15px;
}

.header {
    display: grid;
    grid-template-columns:200px 200px 200px 200px 200px 200px 200px ;
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: grey;    
}

.header-text {
    justify-self: center;
    align-self: center;
    grid-column: 2;
    color: white;
}

#img1 {
    grid-row: 3;
    grid-column: 2;
}

#img2 {
    grid-row: 3;
    grid-column: 3;
}

#img3 {
    grid-row: 3;
    grid-column: 4;
}

#img4 {
    grid-row: 3;
    grid-column: 5;
}