.body {
    margin: 0 auto;
    width:100%;
    
}

.grid {
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    display: grid;
    grid-template-rows: 50px 1fr 200px 1fr 50px;
    grid-template-columns: 1fr 200px 200px 200px 200px 1fr;
    grid-gap: 15px;
}

.header {
    display: grid;
    width: 100%;
    grid-template-columns:50px 1fr 1fr 50px;
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: grey;    
}

.header-text {
    justify-self: center;
    align-self: center;
    grid-column: 2;
    color: white;
}

#img1 {
    grid-row: 3;
    grid-column: 2;
}

#img2 {
    grid-row: 3;
    grid-column: 3;
}

#img3 {
    grid-row: 3;
    grid-column: 4;
}

#img4 {
    grid-row: 3;
    grid-column: 5;
}

.img {
    object-fit: cover;
    width: 200px ;
    height: 200px ;

}
